@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

table {
    table-layout: fixed;
    word-break: break-all;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
}

table > tbody > tr:hover   {
	background-color: #2b95dc6e;
    /* cursor: default; */
}

table th, table td {
	white-space:nowrap;
    
}
table th:last-of-type, table td {
    text-overflow:ellipsis;
    overflow:hidden;
}
table > caption {
    display: none;
}

ul {
    list-style: none;
}
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none !important;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}


/******************************* 사이즈 관련 *******************************/
/*--- width(px) ---*/
.w-auto {width: auto !important;}
.w-10px {width: 10px !important;}
.w-15px {width: 15px !important;}
.w-20px {width: 20px !important;}
.w-25px {width: 25px !important;}
.w-30px {width: 30px !important;}
.w-35px {width: 35px !important;}
.w-40px {width: 40px !important;}
.w-45px {width: 45px !important;}
.w-50px {width: 50px !important;}
.w-55px {width: 55px !important;}
.w-60px {width: 60px !important;}
.w-65px {width: 65px !important;}
.w-70px {width: 70px !important;}
.w-75px {width: 75px !important;}
.w-80px {width: 80px !important;}
.w-85px {width: 85px !important;}
.w-90px {width: 90px !important;}
.w-95px {width: 95px !important;}
.w-100px {width: 100px !important;}
.w-110px {width: 110px !important;}
.w-120px {width: 120px !important;}
.w-130px {width: 130px !important;}
.w-140px {width: 140px !important;}
.w-150px {width: 150px !important;}
.w-160px {width: 160px !important;}
.w-170px {width: 170px !important;}
.w-180px {width: 180px !important;}
.w-190px {width: 190px !important;}
.w-200px {width: 200px !important;}
.w-250px {width: 250px !important;}
.w-300px {width: 300px !important;}
.w-350px {width: 350px !important;}
.w-400px {width: 400px !important;}
.w-450px {width: 450px !important;}
.w-500px {width: 500px !important;}
.w-550px {width: 550px !important;}
.w-600px {width: 600px !important;}
.w-650px {width: 650px !important;}
.w-700px {width: 700px !important;}
.w-750px {width: 750px !important;}
.w-800px {width: 800px !important;}
.w-850px {width: 850px !important;}
.w-900px {width: 900px !important;}
.w-950px {width: 950px !important;}
.w-1100px {width: 1100px !important;}
.w-1150px {width: 1150px !important;}
.w-1200px {width: 1200px !important;}
.w-1250px {width: 1250px !important;}
.w-1300px {width: 1300px !important;}
.w-1350px {width: 1350px !important;}
.w-1400px {width: 1400px !important;}
.w-1450px {width: 1450px !important;}
.w-1500px {width: 1500px !important;}
.w-1550px {width: 1550px !important;}
.w-1600px {width: 1600px !important;}
.w-1650px {width: 1650px !important;}
.w-1700px {width: 1700px !important;}
.w-1750px {width: 1750px !important;}
.w-1800px {width: 1800px !important;}
.w-1850px {width: 1850px !important;}
.w-1900px {width: 1900px !important;}
.w-1950px {width: 1950px !important;}
.w-2000px {width: 2000px !important;}
/*--- width(%) ---*/
.w-5p {width: 5% !important;}
.w-10p {width: 10% !important;}
.w-15p {width: 15% !important;}
.w-20p {width: 20% !important;}
.w-25p {width: 25% !important;}
.w-30p {width: 30% !important;}
.w-32p {width: 32% !important;}
.w-33p {width: 33% !important;}
.w-35p {width: 35% !important;}
.w-40p {width: 40% !important;}
.w-45p {width: 45% !important;}
.w-48p {width: 48% !important;}
.w-49p {width: 49% !important;}
.w-50p {width: 50% !important;}
.w-55p {width: 55% !important;}
.w-60p {width: 60% !important;}
.w-65p {width: 65% !important;}
.w-70p {width: 70% !important;}
.w-75p {width: 75% !important;}
.w-80p {width: 80% !important;}
.w-85p {width: 85% !important;}
.w-90p {width: 90% !important;}
.w-95p {width: 95% !important;}
.w-100p {width: 100% !important;}


/*--- height(px) ---*/
.h-auto {height: auto !important;}
.h-10px {height: 10px !important;}
.h-15px {height: 15px !important;}
.h-20px {height: 20px !important;}
.h-25px {height: 25px !important;}
.h-30px {height: 30px !important;}
.h-35px {height: 35px !important;}
.h-40px {height: 40px !important;}
.h-45px {height: 45px !important;}
.h-50px {height: 50px !important;}
.h-55px {height: 55px !important;}
.h-60px {height: 60px !important;}
.h-65px {height: 65px !important;}
.h-70px {height: 70px !important;}
.h-75px {height: 75px !important;}
.h-80px {height: 80px !important;}
.h-85px {height: 85px !important;}
.h-90px {height: 90px !important;}
.h-95px {height: 95px !important;}
.h-100px {height: 100px !important;}
.h-110px {height: 110px !important;}
.h-120px {height: 120px !important;}
.h-130px {height: 130px !important;}
.h-140px {height: 140px !important;}
.h-150px {height: 150px !important;}
.h-160px {height: 160px !important;}
.h-170px {height: 170px !important;}
.h-180px {height: 180px !important;}
.h-190px {height: 190px !important;}
.h-200px {height: 200px !important;}
.h-250px {height: 250px !important;}
.h-300px {height: 300px !important;}
.h-350px {height: 350px !important;}
.h-400px {height: 400px !important;}
.h-450px {height: 450px !important;}
.h-500px {height: 500px !important;}
.h-550px {height: 550px !important;}
.h-600px {height: 600px !important;}
.h-650px {height: 650px !important;}
.h-700px {height: 700px !important;}
.h-750px {height: 750px !important;}
.h-800px {height: 800px !important;}
.h-850px {height: 850px !important;}
.h-900px {height: 900px !important;}
.h-950px {height: 950px !important;}
.h-1100px {height: 1100px !important;}
.h-1150px {height: 1150px !important;}
.h-1200px {height: 1200px !important;}
.h-1250px {height: 1250px !important;}
.h-1300px {height: 1300px !important;}
.h-1350px {height: 1350px !important;}
.h-1400px {height: 1400px !important;}
.h-1450px {height: 1450px !important;}
.h-1500px {height: 1500px !important;}
.h-1550px {height: 1550px !important;}
.h-1600px {height: 1600px !important;}
.h-1650px {height: 1650px !important;}
.h-1700px {height: 1700px !important;}
.h-1750px {height: 1750px !important;}
.h-1800px {height: 1800px !important;}
.h-1850px {height: 1850px !important;}
.h-1900px {height: 1900px !important;}
.h-1950px {height: 1950px !important;}
.h-2000px {height: 2000px !important;}
/*--- height(%) ---*/
.h-5p {height: 5% !important;}
.h-10p {height: 10% !important;}
.h-20p {height: 20% !important;}
.h-25p {height: 25% !important;}
.h-30p {height: 30% !important;}
.h-32p {height: 32% !important;}
.h-33p {height: 33% !important;}
.h-35p {height: 35% !important;}
.h-40p {height: 40% !important;}
.h-45p {height: 45% !important;}
.h-48p {height: 48% !important;}
.h-49p {height: 49% !important;}
.h-50p {height: 50% !important;}
.h-55p {height: 55% !important;}
.h-60p {height: 60% !important;}
.h-65p {height: 65% !important;}
.h-70p {height: 70% !important;}
.h-75p {height: 75% !important;}
.h-80p {height: 80% !important;}
.h-85p {height: 85% !important;}
.h-90p {height: 90% !important;}
.h-95p {height: 95% !important;}
.h-100p {height: 100% !important;}



/******************************* 간격 관련 *******************************/
/*--- margin(px, auto) ---*/
.m-0-auto {margin: 0 auto !important}
/*--- margin(px, right) ---*/
.mr-0px { margin-right:0px !important;}
.mr-5px { margin-right:5px !important;}
.mr-10px { margin-right:10px !important;}
.mr-15px { margin-right:15px !important;}
.mr-20px { margin-right:20px !important;}
.mr-25px { margin-right:25px !important;}
.mr-30px { margin-right:30px !important;}
.mr-35px { margin-right:35px !important;}
.mr-40px { margin-right:40px !important;}
.mr-45px { margin-right:45px !important;}
.mr-50px { margin-right:50px !important;}
.mr-55px { margin-right:55px !important;}
.mr-60px { margin-right:60px !important;}
.mr-70px { margin-right:70px !important;}
.mr-80px { margin-right:80px !important;}
.mr-90px { margin-right:90px !important;}
.mr-100px { margin-right:100px !important;}
.mr-110px { margin-right:110px !important;}
.mr-120px { margin-right:120px !important;}
.mr-130px { margin-right:130px !important;}
.mr-140px { margin-right:140px !important;}
.mr-150px { margin-right:150px !important;}
.mr-160px { margin-right:160px !important;}
.mr-165px { margin-right:165px !important;}
.mr-170px { margin-right:170px !important;}
/*--- margin(px, left) ---*/
.ml-0px { margin-left:0px !important;}
.ml-5px { margin-left:5px !important;}
.ml-10px { margin-left:10px !important;}
.ml-15px { margin-left:15px !important;}
.ml-20px { margin-left:20px !important;}
.ml-25px { margin-left:25px !important;}
.ml-30px { margin-left:30px !important;}
.ml-35px { margin-left:35px !important;}
.ml-40px { margin-left:40px !important;}
.ml-45px { margin-left:45px !important;}
.ml-50px { margin-left:50px !important;}
.ml-60px { margin-left:60px !important;}
.ml-70px { margin-left:70px !important;}
.ml-80px { margin-left:80px !important;}
.ml-90px { margin-left:90px !important;}
.ml-100px { margin-left:100px !important;}
.ml-110px { margin-left:110px !important;}
.ml-120px { margin-left:120px !important;}
.ml-130px { margin-left:130px !important;}
.ml-140px { margin-left:140px !important;}
.ml-150px { margin-left:150px !important;}
.ml-160px { margin-left:160px !important;}
.ml-165px { margin-left:165px !important;}
.ml-170px { margin-left:170px !important;}
/*--- margin(px, top) ---*/
.mt-0px { margin-top:0px !important;}
.mt-5px { margin-top:5px !important;}
.mt-10px { margin-top:10px !important;}
.mt-15px { margin-top:15px !important;}
.mt-20px { margin-top:20px !important;}
.mt-25px { margin-top:25px !important;}
.mt-30px { margin-top:30px !important;}
.mt-35px { margin-top:35px !important;}
.mt-40px { margin-top:40px !important;}
.mt-45px { margin-top:45px !important;}
.mt-50px { margin-top:50px !important;}
.mt-60px { margin-top:60px !important;}
.mt-70px { margin-top:70px !important;}
.mt-80px { margin-top:80px !important;}
.mt-90px { margin-top:90px !important;}
.mt-100px { margin-top:100px !important;}
.mt-110px { margin-top:110px !important;}
.mt-120px { margin-top:120px !important;}
.mt-130px { margin-top:130px !important;}
.mt-140px { margin-top:140px !important;}
.mt-150px { margin-top:150px !important;}
.mt-160px { margin-top:160px !important;}
.mt-165px { margin-top:165px !important;}
.mt-170px { margin-top:170px !important;}
/*--- margin(px, bottom) ---*/
.mb-0px { margin-bottom:0px !important;}
.mb-5px { margin-bottom:5px !important;}
.mb-10px { margin-bottom:10px !important;}
.mb-15px { margin-bottom:15px !important;}
.mb-20px { margin-bottom:20px !important;}
.mb-25px { margin-bottom:25px !important;}
.mb-30px { margin-bottom:30px !important;}
.mb-35px { margin-bottom:35px !important;}
.mb-40px { margin-bottom:40px !important;}
.mb-45px { margin-bottom:45px !important;}
.mb-50px { margin-bottom:50px !important;}
.mb-60px { margin-bottom:60px !important;}
.mb-70px { margin-bottom:70px !important;}
.mb-80px { margin-bottom:80px !important;}
.mb-90px { margin-bottom:90px !important;}
.mb-100px { margin-bottom:100px !important;}
.mb-110px { margin-bottom:110px !important;}
.mb-120px { margin-bottom:120px !important;}
.mb-130px { margin-bottom:130px !important;}
.mb-140px { margin-bottom:140px !important;}
.mb-150px { margin-bottom:150px !important;}
.mb-160px { margin-bottom:160px !important;}
.mb-165px { margin-bottom:165px !important;}
.mb-170px { margin-bottom:170px !important;}


/*--- padding(px) ---*/
.p-0px {padding: 0px !important;}
.p-5px {padding: 5px !important;}
.p-10px {padding: 10px !important;}
.p-15px {padding: 15px !important;}
.p-20px {padding: 20px !important;}
.p-25px {padding: 25px !important;}
.p-30px {padding: 30px !important;}
.p-35px {padding: 35px !important;}
.p-40px {padding: 40px !important;}
.p-45px {padding: 45px !important;}
.p-45px {padding: 50px !important;}
.p-50px {padding: 55px !important;}
.p-60px {padding: 60px !important;}
.p-70px {padding: 70px !important;}
.p-80px {padding: 80px !important;}
.p-90px {padding: 90px !important;}
.p-100px {padding: 100px !important;}
.p-110px {padding: 110px !important;}
.p-120px {padding: 120px !important;}
.p-130px {padding: 130px !important;}
.p-140px {padding: 140px !important;}
.p-150px {padding: 150px !important;}
.p-160px {padding: 160px !important;}
.p-170px {padding: 170px !important;}
.p-180px {padding: 180px !important;}
.p-190px {padding: 190px !important;}
.p-200px {padding: 200px !important;}
/*--- padding(px, left+right) ---*/
.plr-5px {padding: 0px 5px !important;}
.plr-10px {padding: 0px 10px !important;}
.plr-15px {padding: 0px 15px !important;}
.plr-20px {padding: 0px 20px !important;}
.plr-25px {padding: 0px 25px !important;}
.plr-30px {padding: 0px 30px !important;}
.plr-35px {padding: 0px 35px !important;}
.plr-40px {padding: 0px 40px !important;}
.plr-45px {padding: 0px 45px !important;}
.plr-45px {padding: 0px 50px !important;}
.plr-50px {padding: 0px 55px !important;}
.plr-60px {padding: 0px 60px !important;}
.plr-70px {padding: 0px 70px !important;}
.plr-80px {padding: 0px 80px !important;}
.plr-90px {padding: 0px 90px !important;}
.plr-100px {padding: 0px 100px !important;}
.plr-110px {padding: 0px 110px !important;}
.plr-120px {padding: 0px 120px !important;}
.plr-130px {padding: 0px 130px !important;}
.plr-140px {padding: 0px 140px !important;}
.plr-150px {padding: 0px 150px !important;}
.plr-160px {padding: 0px 160px !important;}
.plr-170px {padding: 0px 170px !important;}
.plr-180px {padding: 0px 180px !important;}
.plr-190px {padding: 0px 190px !important;}
.plr-200px {padding: 0px 200px !important;}
/*--- padding(px, top+bottom) ---*/
.ptb-5px {padding: 5px 0px !important;}
.ptb-10px {padding: 10px 0px !important;}
.ptb-15px {padding: 15px 0px !important;}
.ptb-20px {padding: 20px 0px !important;}
.ptb-25px {padding: 25px 0px !important;}
.ptb-30px {padding: 30px 0px !important;}
.ptb-35px {padding: 35px 0px !important;}
.ptb-40px {padding: 40px 0px !important;}
.ptb-45px {padding: 45px 0px !important;}
.ptb-45px {padding: 50px 0px !important;}
.ptb-50px {padding: 55px 0px !important;}
.ptb-60px {padding: 60px 0px !important;}
.ptb-70px {padding: 70px 0px !important;}
.ptb-80px {padding: 80px 0px !important;}
.ptb-90px {padding: 90px 0px !important;}
.ptb-100px {padding: 100px 0px !important;}
.ptb-110px {padding: 110px 0px !important;}
.ptb-120px {padding: 120px 0px !important;}
.ptb-130px {padding: 130px 0px !important;}
.ptb-140px {padding: 140px 0px !important;}
.ptb-150px {padding: 150px 0px !important;}
.ptb-160px {padding: 160px 0px !important;}
.ptb-170px {padding: 170px 0px !important;}
.ptb-180px {padding: 180px 0px !important;}
.ptb-190px {padding: 190px 0px !important;}
.ptb-200px {padding: 200px 0px !important;}
/*--- padding(px, right) ---*/
.pr-5px { padding-right:5px !important;}
.pr-10px { padding-right:10px !important;}
.pr-15px { padding-right:15px !important;}
.pr-20px { padding-right:20px !important;}
.pr-25px { padding-right:25px !important;}
.pr-30px { padding-right:30px !important;}
.pr-35px { padding-right:35px !important;}
.pr-40px { padding-right:40px !important;}
.pr-45px { padding-right:45px !important;}
.pr-50px { padding-right:50px !important;}
.pr-55px { padding-right:55px !important;}
.pr-60px { padding-right:60px !important;}
.pr-70px { padding-right:70px !important;}
.pr-80px { padding-right:80px !important;}
.pr-90px { padding-right:90px !important;}
.pr-100px { padding-right:100px !important;}
.pr-110px { padding-right:110px !important;}
.pr-120px { padding-right:120px !important;}
.pr-130px { padding-right:130px !important;}
.pr-140px { padding-right:140px !important;}
.pr-150px { padding-right:150px !important;}
.pr-160px { padding-right:160px !important;}
.pr-165px { padding-right:165px !important;}
.pr-170px { padding-right:170px !important;}
/*--- padding(px, left) ---*/
.pl-5px { padding-left:5px !important;}
.pl-10px { padding-left:10px !important;}
.pl-15px { padding-left:15px !important;}
.pl-20px { padding-left:20px !important;}
.pl-25px { padding-left:25px !important;}
.pl-30px { padding-left:30px !important;}
.pl-35px { padding-left:35px !important;}
.pl-40px { padding-left:40px !important;}
.pl-45px { padding-left:45px !important;}
.pl-50px { padding-left:50px !important;}
.pl-60px { padding-left:60px !important;}
.pl-70px { padding-left:70px !important;}
.pl-80px { padding-left:80px !important;}
.pl-90px { padding-left:90px !important;}
.pl-100px { padding-left:100px !important;}
.pl-110px { padding-left:110px !important;}
.pl-120px { padding-left:120px !important;}
.pl-130px { padding-left:130px !important;}
.pl-140px { padding-left:140px !important;}
.pl-150px { padding-left:150px !important;}
.pl-160px { padding-left:160px !important;}
.pl-165px { padding-left:165px !important;}
.pl-170px { padding-left:170px !important;}
/*--- padding(px, top) ---*/
.pt-5px { padding-top:5px !important;}
.pt-10px { padding-top:10px !important;}
.pt-15px { padding-top:15px !important;}
.pt-20px { padding-top:20px !important;}
.pt-25px { padding-top:25px !important;}
.pt-30px { padding-top:30px !important;}
.pt-35px { padding-top:35px !important;}
.pt-40px { padding-top:40px !important;}
.pt-45px { padding-top:45px !important;}
.pt-50px { padding-top:50px !important;}
.pt-60px { padding-top:60px !important;}
.pt-70px { padding-top:70px !important;}
.pt-80px { padding-top:80px !important;}
.pt-90px { padding-top:90px !important;}
.pt-100px { padding-top:100px !important;}
.pt-110px { padding-top:110px !important;}
.pt-120px { padding-top:120px !important;}
.pt-130px { padding-top:130px !important;}
.pt-140px { padding-top:140px !important;}
.pt-150px { padding-top:150px !important;}
.pt-160px { padding-top:160px !important;}
.pt-165px { padding-top:165px !important;}
.pt-170px { padding-top:170px !important;}
/*--- padding(px, bottom) ---*/
.pb-5px { padding-bottom:5px !important;}
.pb-10px { padding-bottom:10px !important;}
.pb-15px { padding-bottom:15px !important;}
.pb-20px { padding-bottom:20px !important;}
.pb-25px { padding-bottom:25px !important;}
.pb-30px { padding-bottom:30px !important;}
.pb-35px { padding-bottom:35px !important;}
.pb-40px { padding-bottom:40px !important;}
.pb-45px { padding-bottom:45px !important;}
.pb-50px { padding-bottom:50px !important;}
.pb-60px { padding-bottom:60px !important;}
.pb-70px { padding-bottom:70px !important;}
.pb-80px { padding-bottom:80px !important;}
.pb-90px { padding-bottom:90px !important;}
.pb-100px { padding-bottom:100px !important;}
.pb-110px { padding-bottom:110px !important;}
.pb-120px { padding-bottom:120px !important;}
.pb-130px { padding-bottom:130px !important;}
.pb-140px { padding-bottom:140px !important;}
.pb-150px { padding-bottom:150px !important;}
.pb-160px { padding-bottom:160px !important;}
.pb-165px { padding-bottom:165px !important;}
.pb-170px { padding-bottom:170px !important;}



/******************************* 위아래 공간 띄우기 *******************************/
.space-5px { clear:both; width:100%; height:5px !important;}
.space-10px { clear:both; width:100%; height:10px !important;}
.space-15px { clear:both; width:100%; height:15px !important;}
.space-20px { clear:both; width:100%; height:20px !important;}
.space-25px { clear:both; width:100%; height:25px !important;}
.space-30px { clear:both; width:100%; height:30px !important;}
.space-35px { clear:both; width:100%; height:35px !important;}
.space-40px { clear:both; width:100%; height:40px !important;}
.space-45px { clear:both; width:100%; height:45px !important;}
.space-50px { clear:both; width:100%; height:50px !important;}
.space-55px { clear:both; width:100%; height:55px !important;}
.space-60px { clear:both; width:100%; height:60px !important;}
.space-65px { clear:both; width:100%; height:65px !important;}
.space-70px { clear:both; width:100%; height:70px !important;}
.space-75px { clear:both; width:100%; height:75px !important;}
.space-80px { clear:both; width:100%; height:80px !important;}
.space-85px { clear:both; width:100%; height:85px !important;}
.space-90px { clear:both; width:100%; height:95px !important;}
.space-100px { clear:both; width:100%; height:100px !important;}
.space-110px { clear:both; width:100%; height:110px !important;}
.space-120px { clear:both; width:100%; height:120px !important;}
.space-130px { clear:both; width:100%; height:130px !important;}
.space-140px { clear:both; width:100%; height:140px !important;}
.space-150px { clear:both; width:100%; height:150px !important;}
.space-200px { clear:both; width:100%; height:200px !important;}
.space-250px { clear:both; width:100%; height:250px !important;}
.space-300px { clear:both; width:100%; height:300px !important;}
.space-350px { clear:both; width:100%; height:350px !important;}
.space-400px { clear:both; width:100%; height:400px !important;}
.space-450px { clear:both; width:100%; height:450px !important;}
.space-500px { clear:both; width:100%; height:500px !important;}

/******************************* 정렬 관련 *******************************/
/*--- Element 정렬 ---*/
.fr {float: right !important;}
.fl {float: left !important;}
/*--- 인라인 및 인라인블록 Element 양옆 정렬 ---*/
.inline-left {text-align: left !important;}
.inline-right {text-align: right !important;}
.inline-center {text-align: center !important;}
/*--- 인라인 및 인라인블록 Element 위아래 정렬 ---*/
.inline-top {vertical-align: top !important;}
.inline-bottom {vertical-align: bottom !important;}
.inline-middle {vertical-align: middle !important;}

/******************************* 위치 관련 *******************************/
.p-relative {position: relative;}
.p-absolute {position: absolute;}
.p-fixed {position: fixed;}
.p-static {position: static;}

/*--- left(px) ---*/
.left-0px { left: 0px !important;}
.left-5px { left: 5px !important;}
.left-10px { left: 10px !important;}
.left-15px { left: 15px !important;}
.left-20px { left: 20px !important;}
.left-25px { left: 25px !important;}
.left-30px { left: 30px !important;}
.left-35px { left: 35px !important;}
.left-40px { left: 40px !important;}
.left-45px { left: 45px !important;}
.left-50px { left: 50px !important;}
.left-55px { left: 55px !important;}
.left-60px { left: 60px !important;}
.left-70px { left: 70px !important;}
.left-80px { left: 80px !important;}
.left-90px { left: 90px !important;}
.left-100px { left: 100px !important;}
/*--- right(px) ---*/
.right-0px { right: 0px !important;}
.right-5px { right: 5px !important;}
.right-10px { right: 10px !important;}
.right-15px { right: 15px !important;}
.right-20px { right: 20px !important;}
.right-25px { right: 25px !important;}
.right-30px { right: 30px !important;}
.right-35px { right: 35px !important;}
.right-40px { right: 40px !important;}
.right-45px { right: 45px !important;}
.right-50px { right: 50px !important;}
.right-55px { right: 55px !important;}
.right-60px { right: 60px !important;}
.right-70px { right: 70px !important;}
.right-80px { right: 80px !important;}
.right-90px { right: 90px !important;}
.right-100px { right: 100px !important;}
/*--- top(px) ---*/
.top-0px { top: 0px !important;}
.top-5px { top: 5px !important;}
.top-10px { top: 10px !important;}
.top-15px { top: 15px !important;}
.top-20px { top: 20px !important;}
.top-25px { top: 25px !important;}
.top-30px { top: 30px !important;}
.top-35px { top: 35px !important;}
.top-40px { top: 40px !important;}
.top-45px { top: 45px !important;}
.top-50px { top: 50px !important;}
.top-55px { top: 55px !important;}
.top-60px { top: 60px !important;}
.top-70px { top: 70px !important;}
.top-80px { top: 80px !important;}
.top-90px { top: 90px !important;}
.top-100px { top: 100px !important;}
/*--- bottom(px) ---*/
.bottom-0px { bottom: 0px !important;}
.bottom-5px { bottom: 5px !important;}
.bottom-10px { bottom: 10px !important;}
.bottom-15px { bottom: 15px !important;}
.bottom-20px { bottom: 20px !important;}
.bottom-25px { bottom: 25px !important;}
.bottom-30px { bottom: 30px !important;}
.bottom-35px { bottom: 35px !important;}
.bottom-40px { bottom: 40px !important;}
.bottom-45px { bottom: 45px !important;}
.bottom-50px { bottom: 50px !important;}
.bottom-55px { bottom: 55px !important;}
.bottom-60px { bottom: 60px !important;}
.bottom-70px { bottom: 70px !important;}
.bottom-80px { bottom: 80px !important;}
.bottom-90px { bottom: 90px !important;}
.bottom-100px { bottom: 100px !important;}



/******************************* display 관련 *******************************/
.display-block {display: block !important;}
.display-inline {display: inline !important;}
.display-inline-b {display: inline-block !important;}
.display-none {display: none !important;}



/******************************* 폰트 관련 *******************************/
/*--- 폰트 색상 ---*/
.font-white {color: #fff !important;}
.font-black {color: #000 !important;}
.font-red {color: #F15F5F !important;}
.font-blue {color: #6B66FF !important;}
.font-green {color: #7BA518 !important;}
.font-yellow {color: #f3c300 !important;}

/*--- 폰트 크기(px) ---*/
.font-10px {font-size: 10px !important;}
.font-11px {font-size: 11px !important;}
.font-12px {font-size: 12px !important;}
.font-13px {font-size: 13px !important;}
.font-14px {font-size: 14px !important;}
.font-15px {font-size: 15px !important;}
.font-16px {font-size: 16px !important;}
.font-17px {font-size: 17px !important;}
.font-18px {font-size: 18px !important;}
.font-19px {font-size: 19px !important;}
.font-20px {font-size: 20px !important;}
.font-25px {font-size: 25px !important;}
.font-30px {font-size: 30px !important;}
.font-35px {font-size: 35px !important;}
/*--- 폰트 크기(em) ---*/
.font-1em {font-size: 1em !important;}
.font-1-1em {font-size: 1.1em !important;}
.font-1-2em {font-size: 1.2em !important;}
.font-1-3em {font-size: 1.3em !important;}
.font-1-4em {font-size: 1.4em !important;}
.font-1-5em {font-size: 1.5em !important;}
.font-1-6em {font-size: 1.6em !important;}
.font-1-7em {font-size: 1.7em !important;}
.font-1-8em {font-size: 1.8em !important;}
.font-1-9em {font-size: 1.9em !important;}
.font-2em {font-size: 2em !important;}
.font-2-1em {font-size: 2.1em !important;}
.font-2-2em {font-size: 2.2em !important;}
.font-2-3em {font-size: 2.3em !important;}
.font-2-4em {font-size: 2.4em !important;}
.font-2-5em {font-size: 2.5em !important;}
.font-2-6em {font-size: 2.6em !important;}
.font-2-7em {font-size: 2.7em !important;}
.font-2-8em {font-size: 2.8em !important;}
.font-2-9em {font-size: 2.9em !important;}

/*--- 폰트 굵기 ---*/
.font-w-400 {font-weight: 400 !important;}
.font-w-500 {font-weight: 500 !important;}
.font-w-600 {font-weight: 600 !important;}
.font-w-700 {font-weight: 700 !important;}
.font-w-800 {font-weight: 800 !important;}
.font-w-900 {font-weight: 900 !important;}



/******************************* 기타 *******************************/
/*--- 마우스 커서 ---*/
.cursor_p {cursor: pointer !important;}
.cursor_d {cursor: default !important;}

/*--- 글자 (밑)줄 관련 ---*/
.text-line {text-decoration: underline !important;}
.text-cancel-line {text-decoration: line-through !important;}